<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="dns-prefetch" href="//p.twitter.com">
	<link rel="dns-prefetch" href="//cdn.api.twitter.com">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//platform.twitter.com">

	<title>Esuna · Classy Front-End Framework</title>

	<meta name="description" content="Esuna is open source, classy Front-End framework for those who don't want to struggle with heavy frameworks and tons of useless code.">

	<meta name="keywords" content="front-end,framework,css,js,javascript,frontend,esuna,open source,bootstrap,boilerplate,html,html5">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{{ site.url }}/ui{{ site.url }}.css">
	<link rel="stylesheet" href="{{ site.url }}/ui/style.css">

	<link rel="shortcut icon" href="icon.png">
	<link rel="apple-touch-icon-precomposed" href="icon.png">

	<!-- @see ogp.me -->
	<meta name="og:title" content="Esuna · Classy Front-End Framework" />
	<meta name="og:type" content="website" />
	<meta name="og:description" content="Esuna is open source, classy Front-End framework for those who don't want to struggle with heavy frameworks and tons of useless code." />
	<meta name="og:url" content="http://idered.pl{{ site.url }}/">

	<!-- @see dev.twitter.com/docs/cards -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@Idered">
	<meta name="twitter:site" content="@EsunaFramework">
	<meta name="twitter:url" content="http://idered.pl{{ site.url }}/">
	<meta name="twitter:title" content="Esuna · Classy Front-End Framework">
	<meta name="twitter:description" content="Esuna is open source, classy Front-End framework for those who don't want to struggle with heavy frameworks and tons of useless code.">

	<script src="{{ site.url }}/ui/js/modernizr.js"></script>
</head>
<body>

<div class="mobile-nav-header">
	<span class="js-toggle-nav"><i class="navicon"></i></span>
</div>
<!-- /.mobile-nav-header -->

<div class="main">
	<div class="main__inner">
		<aside class="sidebar">
			<header class="header" role="banner">

				<a href="{{ site.url }}/" rel="index" class="site-logo fx--opacity">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Esuna" class="s s--esuna-logo">
				</a>
				<!-- /.site-logo -->

				<ul class="nav site-nav" role="navigation">
					<li>
						<span class="site-nav__title">Getting started</span>
						<ul class="site-nav__submenu" data-section="getting-started">
							<li><a href="{{ site.url }}/">About</a></li>
							<li><a href="{{ site.url }}/#installation">Installation</a></li>
							<li><a href="{{ site.url }}/#configuration">Configuration</a></li>
						</ul>
					</li>
					<li>
						<span class="site-nav__title">Style guidelines</span>
						<ul class="site-nav__submenu" data-section="style-g../uidelines">
							<li><a href="{{ site.url }}/style-guidelines#guide-html">HTML</a></li>
							<li><a href="{{ site.url }}/style-guidelines#guide-css">CSS</a></li>
						</ul>
					</li>
					<!-- <li>
						<span class="site-nav__title">Tools &amp; Workflow</span>
						<ul class="site-nav__submenu" data-section="tools-and-workflow">
							<li><a href="{{ site.url }}/tools-and-workflow#sublime-text">Sublime Text</a></li>
							<li><a href="{{ site.url }}/tools-and-workflow#grunt">Grunt</a></li>
						</ul>
					</li> -->
					<li>
						<span class="site-nav__title">Framework</span>
						<ul class="site-nav__submenu" data-section="framework">
							<li><a href="{{ site.url }}/framework#structure">Structure</a></li>
							<li><a href="{{ site.url }}/framework#development-tools">Development Tools</a></li>
							<li><a href="{{ site.url }}/framework#base">Base elements</a></li>
							<li><a href="{{ site.url }}/framework#objects">Objects</a></li>
							<li><a href="{{ site.url }}/framework#helpers">Helpers</a></li>
						</ul>
					</li>
				</ul>
				<!-- /.nav.site-nav -->
			</header>
			<!-- /.header -->
		</aside>
		<!-- /.sidebar -->
		<div class="content">
			{{ content }}
		</div>
		<!-- /.content -->

		<footer class="footer">
			<div class="footer__inner">
				<p class="footer__copyright">Build with <span class="color--secondary">♥</span> and brought to you by <a href="http://twitter.com/idered">@Idered.</a> Code released under MIT license.</p>
				<ul class="nav footer-nav">
					<li><a href="https://github.com/Idered{{ site.url }}" target="_blank">GitHub Repo</a></li>
					<li> · </li>
					<li><a href="https://github.com/Idered{{ site.url }}/issues" target="_blank">Issues</a></li>
					<li> · </li>
					<li><a href="https://github.com/Idered{{ site.url }}/issues/new" target="_blank">Report issue</a></li>
					<li> · </li>
					<li><a href="http://twitter.com/EsunaFramework" target="_blank">Twitter</a></li>
				</ul>
			</div>
			<!-- /.footer__inner -->
		</footer>
		<!-- /.footer -->
	</div>
	<!-- /.main__inner -->
</div>
<!-- /.main  -->
<script>
	var scripts = {
		'analytics'     : ('https:'==location.protocol?'//ssl':'//www') + '.google-analytics.com/ga.js'
	}, script, _gaq=[['_setAccount','UA-18366146-7'],['_trackPageview']];

	for (var id in scripts) {
		script = document.createElement('script'); script.src = scripts[id];
		script.id = id;script.type = 'text/javascript'; script.async = true;
		document.getElementsByTagName('head')[0].appendChild(script);
	}
</script>
<script src="{{ site.url }}/ui/js/jquery.js"></script>
<script src="{{ site.url }}/ui/js/plugins.js"></script>
<script src="{{ site.url }}/ui/js/script.js"></script>
</body>
</html>
